<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="kuesji.link_eye">

	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission"/>

	<application
		android:allowBackup="true"
		android:label="@string/app_name"
		android:icon="@drawable/ic_link_eye"
		android:supportsRtl="false"
		android:theme="@android:style/Theme.Material.NoActionBar">

		<activity
			android:name=".Main"
			android:exported="true"
			android:resizeableActivity="false"
			android:windowSoftInputMode="adjustPan">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
				<category android:name="android.intent.category.DEFAULT"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".LinkHandler"
			android:exported="true"
			android:resizeableActivity="false"
			android:windowSoftInputMode="adjustPan"
			android:excludeFromRecents="true">

			<!-- action.view handling opening links -->
			<intent-filter>
				<action android:name="android.intent.action.VIEW"/>
				<category android:name="android.intent.category.BROWSABLE"/>
				<category android:name="android.intent.category.DEFAULT"/>

				<!-- web -->
				<data android:scheme="http"/>
				<data android:scheme="https"/>
				<!-- email -->
				<data android:scheme="mailto"/>
				<!-- maps, location -->
				<data android:scheme="geo"/>
				<!-- file -->
				<data android:scheme="file"/>
				<!-- live streaming -->
				<data android:scheme="rtsp"/>
				<data android:scheme="rtmp"/>
				<!-- file sharing -->
				<data android:scheme="ftp"/>
				<data android:scheme="sftp"/>
				<!-- dialer related -->
				<data android:scheme="sms"/>
				<data android:scheme="smsto"/>
				<data android:scheme="mms"/>
				<data android:scheme="mmsto"/>
				<data android:scheme="tel"/>
				<data android:scheme="voicemail"/>
			</intent-filter>

			<!-- action.send handling for copying texts -->
			<intent-filter>
				<action android:name="android.intent.action.SEND"/>
				<category android:name="android.intent.category.DEFAULT"/>
				<data android:mimeType="text/plain"/>
			</intent-filter>

		</activity>

	</application>

</manifest>